@{
	Random randomBackground = new();

	var backgroundLeft = randomBackground.Next(100);

	var backgrounRight = backgroundLeft + 1;
}

<!DOCTYPE html>

<html dir="ltr" lang="ru" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# article: https://ogp.me/ns/article# ya: http://webmaster.yandex.ru/vocabularies/">

@* meta теги заголовка сайта *@
<vc:head-main />

<body>

	<div class="container-fluid container-fluid-1920">

		@* реклама сверху *@
		<vc:reklama-top />

		@* меню вверху сайта *@
		<vc:menu />

		<div class="row text-center bg-light">

			@* фотопленка слева *@
			<vc:background-foto background=@backgroundLeft />

			<main itemprop="mainContentOfPage" class="col pb-3 text-center mx-auto shadw">

				<div class="container-fluid px-0">

					@* заголовок и картинка в шапке страницы *@
					<vc:page-heading />

					@RenderBody()

				</div>

				@* ссылки на связанные по теме страницы, книги, фильмы *@
				<vc:ref-pages />

			</main>

			@* фотопленка справа *@
			<vc:background-foto background=@backgrounRight />

		</div>

		<vc:counters />

		@* реклама снизу *@
		<vc:reklama-bottom />

	</div>

	<partial name="_FooterScriptsPartial" />

	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>