@page

@model Back_to_the_FutureModel

@{
}

<h1 class="text_shadow">BACK TO THE FUTURE</h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Назад в будущее - 1" />

<vc:movie-disk movie-caption="Назад в будущее - 2" />

<vc:movie-disk movie-caption="Назад в будущее - 3" />