@page

@model The_Godfather_TVModel

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="fs-4">A NOVEL FOR TELEVISION 1977</span></h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 1 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 2 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 3 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 4 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 5 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 6 часть" />

<vc:movie-disk movie-caption="Крёстный отец - ТВ версия - 7 часть" />

<a href="/movies/yandexdisk/foreign/the-godfather-additions" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather-add.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<a href="/movies/yandexdisk/foreign/the-godfather" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-trilogy-1901-1980" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather-trilogy.png" css-class="col-12 shadw imageref" is-icon=null />

</a>