@page

@model The_Godfather_ScenesModel

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">сцены не вошедшие в фильм</span></h1>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1901-1917" title="Крёстный отец - дополнительные сцены 1901-1917" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1901-1917.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1917-1927" title="Крёстный отец - дополнительные сцены 1917-1927" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1917-1927.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1945-1" title="Крёстный отец - дополнительные сцены 1945" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1945.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1945-2" title="Крёстный отец - дополнительные сцены 1945" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1945.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1947" title="Крёстный отец - дополнительные сцены 1947" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1947.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1948-1955" title="Крёстный отец - дополнительные сцены 1948-1955" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1948-1955.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1958" title="Крёстный отец - дополнительные сцены 1958" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1958.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes-1958-1979" title="Крёстный отец - дополнительные сцены 1958-1979" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene-1958-1979.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-additions" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather-add.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
