@page

@model The_Godfather_Trilogy_1901_1980Model

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="fs-4">TRILOGY 1901 - 1980</span></h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Крёстный отец - Трилогия - 1 часть" />

<vc:movie-disk movie-caption="Крёстный отец - Трилогия - 2 часть" />

<vc:movie-disk movie-caption="Крёстный отец - Трилогия - 3 часть" />

<a href="/movies/yandexdisk/foreign/the-godfather-additions" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather-add.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<a href="/movies/yandexdisk/foreign/the-godfather" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-tv" title="Крёстный отец - ТВ версия" itemprop="url">

    <vc:image-view file-name="godfather-tv.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
