@page

@model The_Godfather_Scenes_1901_1917Model

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">сцены не вошедшие в фильм</span></h1>

<h2>история дона Карлеоне 1901 - 1917 годы</h2>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/_RZyOgv26ImRGg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-02ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/s3NtPOi8emYcGg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-06ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/zeZVhpViJ8Zfgg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-07ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/zYhmRKBuotzOvg" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-scene-03ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes" title="Крёстный отец - сцены не вошедшие в фильм" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene.png " css-class="col-12 shadw imageref" is-icon=null />

</a>
