@page

@model The_Godfather_AdditionsModel

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">материалы о фильме</span></h1>

<hr class="liniya">

<vc:movie-disk movie-caption="«Крёстный отец» - Наследие" />

<vc:movie-disk movie-caption="Семья Крёстного отца - взгляд внутрь" />

<a href="/movies/yandexdisk/foreign/the-godfather-scenes" title="Крёстный отец - сцены не вошедшие в фильм" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/d/mHoQO8U0IX24Og" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-1.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/FSeN1YK11rEl4w" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-2.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/d/vbDc-oM5uDLjcA" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-3.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/aCrISoJvrLU9sQ" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-4.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/3PwCOCpHsJ37pg" title="Фрэнсис Форд Коппола о сценарии фильма" itemprop="url">

    <vc:image-view file-name="godfather-add-5.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/3d64ouP8v-VWsg" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-6.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/cCDZt2e6jdK3WQ" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-7.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/X8NWI6oHRbk1BQ" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-8.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/TGl1WPA5d4UkfQ" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add-9.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/MhUnwpS5VeftHg" title="Актёры о фильме «Крестный отец»" itemprop="url">

    <vc:image-view file-name="godfather-add-11.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
