@page

@model The_Godfather_Scenes_1945_2Model

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">сцены не вошедшие в фильм</span></h1>

<h2>история дона Карлеоне 1945 год (2)</h2>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/CiGbpt1hSslkmg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-16ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/6wEtVHHTMfVanQ" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-15ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/nY-9Gd50qSHW5Q" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-17ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/EJM1oZnmRpH6Wg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-18ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/KX4IKmzAtXsR3Q" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-19ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes" title="Крёстный отец - сцены не вошедшие в фильм" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

