@page

@model The_Godfather_Scenes_1948_1955Model

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">сцены не вошедшие в фильм</span></h1>

<h2>история дона Карлеоне 1948 - 1955 годы</h2>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/d/qw9SCSoT7PBryg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-24ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/_Qx1NQ9jDlOF5Q" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-25ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/m3-6516HWVd_wQ" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-26ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes" title="Крёстный отец - сцены не вошедшие в фильм" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene.png " css-class="col-12 shadw imageref" is-icon=null />

</a>


