@page

@model The_Godfather_Scenes_1958_1979Model

@{
}

<h1 class="text_shadow">THE GODFATHER<br /><span class="h2">сцены не вошедшие в фильм</span></h1>

<h2>история дона Карлеоне 1958 - 1979 годы</h2>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/I2CMNJ6OQWX4Eg" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-31ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/6mM1Cwjwkpns5A" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-32ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/rmBo7PwP5S__PQ" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-33ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a onClick="this.target='_blank'" href="https://disk.yandex.ru/i/3xN0E9L49wtWbQ" title="Крёстный отец - сцена не вошедшая в фильм" itemprop="url">

    <vc:image-view file-name="godfather-scene-34ru.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-scenes" title="Крёстный отец - сцены не вошедшие в фильм" itemprop="url">

    <vc:image-view file-name="godfather-dop-scene.png " css-class="col-12 shadw imageref" is-icon=null />

</a>

