@page

@model The_GodfatherModel

@{
}

<h1 class="text_shadow">THE GODFATHER</h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Крёстный отец - 1" />

<vc:movie-disk movie-caption="Крёстный отец - 2" />

<vc:movie-disk movie-caption="Крёстный отец - 3" />

<a href="/movies/yandexdisk/foreign/the-godfather-additions" title="Крёстный отец - материалы о фильме" itemprop="url">

    <vc:image-view file-name="godfather-add.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<a href="/movies/yandexdisk/foreign/the-godfather-tv" title="Крёстный отец - ТВ версия" itemprop="url">

    <vc:image-view file-name="godfather-tv.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/the-godfather-trilogy-1901-1980" title="Крёстный отец" itemprop="url">

    <vc:image-view file-name="godfather-trilogy.png" css-class="col-12 shadw imageref" is-icon=null />

</a>