@page

@model War_and_Peace_2007Model

@{
}

<h1 class="text_shadow">WAR AND PEACE (2007)</h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Война и мир - 1 (2007)" />

<vc:movie-disk movie-caption="Война и мир - 2 (2007)" />

<vc:movie-disk movie-caption="Война и мир - 3 (2007)" />

<vc:movie-disk movie-caption="Война и мир - 4 (2007)" />

<a href="/movies/yandexdisk/foreign/war-and-peace-1956" title="Война и Мир (1956 год)" itemprop="url">

    <vc:image-view file-name="war-and-peace-1956.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/russian/voina-i-mir" title="Война и Мир (1966 год)" itemprop="url">

    <vc:image-view file-name="voina-i-mir.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
