@page

@model War_and_Peace_1956Model

@{
}

<h1 class="text_shadow">WAR AND PEACE (1956)</h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Война и мир - 1 серия (1956)" />

<vc:movie-disk movie-caption="Война и мир - 2 серия (1956)" />

<a href="/movies/yandexdisk/russian/voina-i-mir" title="Война и Мир (1966 год)" itemprop="url">

    <vc:image-view file-name="voina-i-mir.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/war-and-peace-2007" title="Война и Мир (2007 год)" itemprop="url">

    <vc:image-view file-name="war-and-peace.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
