.container-fluid-1920 {
    max-width: 1920px;
    min-width: 320px;
}

/* тег hr */
.liniya {
    width: 96%;
    height: 1px !important;
    color: hsla(330,60%,45%,.9);
    border-color: hsla(0,90%,40%,.9);
    box-shadow: .1em .1em .1em hsla(0,0%,0%,.6);
    opacity: .9 !important;
    margin: 0.6rem auto 0.8rem;
}

.footer-image img {
    border-width: 0 !important;
}

.footer-image a:hover {
    text-decoration: none;
}

.fotoplenka {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
}

.ten {
    box-shadow: .5rem .4rem .4rem hsla(0,0%,0%,.6);
}

.maxwidthcontent {
    max-width: max-content;
}

.maxwidth28percent {
    max-width: 28%;
}

.maxwidth50percent {
    max-width: 50%;
}

.maxwidth800px {
    max-width: 800px;
}
