@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
    font-family: 'Philosopher', sans-serif;
}

.container-fluid-1920 {
    max-width: 1920px;
    min-width: 320px;
}

/* тег hr */
.liniya {
    width: 96%;
    height: 1px !important;
    color: hsla(330,60%,45%,.9);
    border-color: hsla(0,90%,40%,.9);
    box-shadow: .1em .1em .1em hsla(0,0%,0%,.6);
    opacity: .9 !important;
    margin: 0.5rem auto;
}

.footer-image img {
    border-width: 0 !important;
}

.footer-image a:hover {
    text-decoration: none;
}

.fotoplenka {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
}

.ten {
    box-shadow: .5rem .4rem .4rem hsla(0,0%,0%,.6);
}