.adp90_img {
    width: 90%;
    border-radius: 1rem;
}

@media only screen and (max-width: 575px) {
    .imageref {
        border: 2px ridge rgba(194, 10, 41, 0);
        border-radius: .2rem;
        transition: all .3s ease-in-out;
    }
}

@media only screen and (min-width: 576px) {
    .imageref {
        border: 2px ridge rgba(194, 10, 41, 0);
        border-radius: .3rem;
        transition: all .3s ease-in-out;
    }
}

.imageref:hover {
    border-color: rgba(194, 10, 41, 0.9);
    opacity: .9;
}

.setimage_border {
    border-color: rgba(194, 10, 41, 0.9);
}

.footer-image img {
    border-width: 0 !important;
}

.footer-image a:hover {
    text-decoration: none;
}