.bookpages {
    display: block;
    clear: both;
    background-color: hsla(0,40%,96%,0.8);
    margin: 1rem auto;
    padding: 1rem;
}

.descr {
    font-size: 13pt;
    line-height: 18pt;
    padding: 3rem 2rem;
}

.descr p {
    text-align: justify;
    text-indent: 1.5rem;
}
