a {
    text-decoration: none;
    color: black;
}

a:active, .dropdown:active {
    position: relative;
    top: 4px;
}

.dropdown a:active {
    top: 0;
}

.atext {
    width: auto !important;
    height: auto !important;
    text-indent: 0;
    border-radius: .3rem;
    padding: 0 .3rem .1rem;
    color: hsla(0,61%,35%,1);
    background-color: hsla(210%,51%,60%,0.2);
    transition: all .7s ease
}

.atext:hover {
    color: hsla(0,50%,100%,1);
    background-color: hsla(0,61%,35%,.8)
}

.donate {
    display: inline-block;
    width: contain;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background: rgba(0,0,0,0.03) !important;
    transition: all .3s ease-in-out;
}

.donate:hover, .donate a span:hover {
    color: darkred;
    border-color: darkred !important;
}

.ref-to-page {
    display: inline-block;
    color: black;
    text-align: center;
    width: 3rem;
    height: 1.5rem;
    margin: .2rem .1rem .2rem 0;
    font-size: 1rem;
    transition: all 1s ease;
}

.ref-to-page:hover {
    color: hsla(0,50%,100%,1);
    background-color: hsla(0,90%,40%,1);
    transition: all 1s ease;
}

.ref-to-audio {
    display: inline-block;
    width: 2.3rem;
    height: 1.5rem;
    background-image: url(/images/admin/audio.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

.ref-to-audio:hover {
    background-image: url(/images/admin/audio-r.webp);
}