@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
    font-family: 'Philosopher', sans-serif;
}

.text_shadow {
    text-shadow: hsla(350,90%,40%,.6) 1px 2px 2px !important;
}

.text-justify {
    text-align: justify;
}

.fordetails {
    text-align: justify;
    margin-bottom: 0;
    font: 12.6pt/17pt "Times New Roman", Times, serif;
}

p {
    margin-bottom: 0;
}

.paragraph {
    text-align: justify;
    text-indent: 1.5rem;
}

.justify {
    text-align: justify;
}

@media (max-width: 1199px) {
    .fontr {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .fontr {
        font-size: 1.3rem;
    }
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b * 1px;

    @return calc( #{$k} * 100vw + #{$b} );
}

.fluid-font-size {
    font-size: calcFluidFontSize(16, 18, 480, 1280);
}