@media print {
    .h1_print {
        color: #000 !important;
        font-size: 20pt !important;
    }
}

@media screen {
    .text_shadow {
        text-shadow: hsla(350,90%,40%,.6) 1px 2px 2px !important;
    }
}

@media print {
    .text_shadow {
        text-shadow: #000 0 0 0 0 !important;
    }
}


.text-justify, .justify {
    text-align: justify;
}

.text-indent-0 {
    text-indent: 0 !important;
}

.fordetails {
    text-align: justify;
    margin-bottom: 0;
    font: 12.6pt/17pt "Times New Roman", Times, serif;
}

p {
    margin-bottom: 0;
}

@media print {
    p {
        color: #000; /* Черный цвет текста */
    }
}

.paragraph {
    text-align: justify;
    text-indent: 1.5rem;
}

@media (max-width: 1199px) {
    .fontr {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .fontr {
        font-size: 1.3rem;
    }
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;
    $b: $b * 1px;

    @return calc( #{$k} * 100vw + #{$b} );
}

@media screen {
    .fluid-font-size {
        font-size: calcFluidFontSize(16, 18, 480, 1280);
    }
}

@media print {
    .fluid-font-size {
        font-size: 12pt;
    }
}
