.height400 {
    height: 400px;
}

.height600 {
    height: 600px;
}

.maxwidthcontent {
    max-width: max-content;
}

.maxwidth28percent {
    max-width: 28%;
}

.maxwidth50percent {
    max-width: 50%;
}

.maxwidth800px {
    max-width: 800px;
}