@import "../lib/bootstrap/scss/bootstrap.scss";
@import "_Common.scss";
@import "_OldSiteForBook.scss";
@import "_TextAndFonts.scss";
@import "_PerenosSlov.scss";
@import "_DivShadow.scss";
@import "_ImageStyle.scss";
@import "_Ssylki.scss";
@import "_Card.scss";
@import "_InputElement.scss";
@import "_AccordionUnderMovie.scss";
@import "_VideoAdaptive.scss";
@import "_YandexSearch.scss";
@import "_SocSeti.scss";
@import "_Menu.scss";
@import "_OldSite.scss";
@import "_PageOfText.scss";
@import "_WidthHeight.scss";