@page "/"
@inject TimeFormatter Formatter

<!DOCTYPE html>

<html>

<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>

<body>

    <h2>@Formatter.FormatTime()</h2>

    <script src="_framework/blazor.web.js"></script>

</body>

</html>