<!DOCTYPE html>

<html dir="ltr" lang="ru" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<head>

    <vc:head-main />

</head>

<body>

    <partial name="_YandexReclamaHeadPartial" />

    <div class="container-fluid container-fluid-1920">

        <vc:menu />

        <div class="row text-center bg-light">

            <vc:background-foto left="true" />

            <main role="main" itemprop="mainContentOfPage" class="col-12 col-sm-9 pb-3 text-center m-auto shadw">

                <div class="container-fluid px-0">

                    @RenderBody()

                </div>

            </main>

            <vc:background-foto left="false" />

        </div>

        <partial name="_FooterPartial" />

    </div>

    <partial name="_YandexReclamaFooterPartial" />

    <partial name="_FooterScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>