@page
@model Icon_ListModel

@if (Model.AllIcons.Count() == 0)
{
    <div class="row">

        <div class="col text-center p-2">

            <p class="fs-4 text-primary">В базе данных нет иконок</p>

        </div>

    </div>
}
else
{
    <div class="row">

        <div class="col-12 text-center mb-2">

            <p class="fs-4 text-primary">Количество иконок:&nbsp;@Model.AllIcons.Count()</p>

        </div>

        <div class="col">

            <a asp-page="Icon-Add" class="btn btn btn-outline-danger me-4 shadw" title="добавить иконку">Add Icons</a>

        </div>

    </div>
}
