@page
@model Icon_AddModel

@{
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Добавить иконку</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <div class="card-body mx-0 p-0">

                <form method="post" enctype="multipart/form-data">

                    <label for="PathForIconInput" asp-for="PathForIcon" class="form-label text-primary fs-5 fw-bold"></label>
                    <input id="PathForIconInput" asp-for="PathForIcon" class="form-control" aria-describedby="PathForIconInputHelpBlock" />
                    <div id="PathForIconInputHelpBlock" class="form-text">
                        <span>укажите каталог - </span>
                        <span class="text-danger">обязательное поле</span>
                    </div>
                    <span asp-validation-for="PathForIcon" class="text-danger fw-bold fs-5"></span>

                    <hr class="liniya" />

                    <label for="IconFilesInput" asp-for="IconFilesUpload" class="form-label text-primary fs-5 fw-bold"></label>
                    <input id="IconFilesInput" asp-for="IconFilesUpload" class="form-control" aria-describedby="IconFilesInputHelpBlock" />
                    <div id="IconFilesInputHelpBlock" class="form-text">
                        <span>выбрать иконки - </span>
                        <span class="text-danger">обязательное поле</span>
                    </div>
                    <span asp-validation-for="IconFilesUpload" class="text-danger fw-bold fs-5"></span>




                    <div class="card-footer p-2">

                        <button type="submit" class="btn btn-outline-success m-2 text-center shadw" title="добавить">Add</button>
                        <a asp-area="Admin" asp-page="/DBCRUD/Icon-List" class="btn btn-outline-danger m-2 shadw" title="отменить">Cancel</a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

