@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Baltiyskoe_neboModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="0e9a48e5-9695-454a-0a13-08dc54e08f40" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
