@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Idu_na_grozuModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="6ec506c6-a257-479b-8a68-08dc59813ae8" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
