@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Jil_byl_shishlovModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="175c3365-ce7a-4525-5688-08dc4d00c702" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
