@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Jizn_Matveya_KojemyakinaModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="6b172712-bd2c-4e50-505c-08dc63a8deda" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
