@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Mertvye_dushi_1969Model

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="f0e588dc-03f6-4cf6-3e56-08dc451367c0" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
