@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Rasstanemsya_poka_horoshieModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="beb988b3-93d5-4220-3bfb-08dc4e976b95" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
