@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.S_Potolka_Pavel_LuspekaevModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="bb70f91f-8f23-497a-42f7-08dc4b6034e9" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
