@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Taina_dvuh_okeanovModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="89b0a943-a231-4422-2cd2-08dc46bbba90" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
