@page

@model VorModel

@{
    string[] films = new string[]{
        "/programs/eshe-ne-vecher-16-09-2011",
    };
}

<vc:movie-online />

<hr class="liniya" />

<h3 class="text_shadow">ОБ АТКЁРАХ ФИЛЬМА</h3>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@films" size="3" />