@page

@model ShevkunenkoSite.Areas.Movies.Pages.Russian.Zvezda_plenitelnogo_schastyaModel

@{
}

<div class="row">

    <div class="col">

        <vc:view-image image-id="e0ce4a15-dc7b-45dd-76dc-08dc483e603f" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
