@{
    string[] rybakovMovies = new string[] {
        "/rybakov/movies/kortik-1954",
        "/rybakov/movies/kortik/index",
        "/rybakov/movies/bronzovaya-ptica/index"
    };
}

<hr class="liniya" />

<h2 class="text_shadow fs-4">ФИЛЬМЫ ПО КНИГАМ<br /><span class="fs-3">АНАТОЛИЯ РЫБАКОВА</span></h2>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@rybakovMovies" size="1" />
