<div class="row mx-auto my-3 py-2 shadw d-print-none">

    <!-- Yandex.RTB R-A-1648952-1 -->
    <div id="yandex_rtb_R-A-1648952-1" class="d-flex col-12 col-md-6 col-lg-4 col-xl-3"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                "blockId": "R-A-1648952-1",
                "renderTo": "yandex_rtb_R-A-1648952-1"
            })
        })
    </script>

    <!-- Yandex.RTB R-A-1648952-2 -->
    <div id="yandex_rtb_R-A-1648952-2" class="d-none d-md-flex col-md-6 col-lg-4 col-xl-3"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                "blockId": "R-A-1648952-2",
                "renderTo": "yandex_rtb_R-A-1648952-2"
            })
        })
    </script>

    <!-- Yandex.RTB R-A-1648952-3 -->
    <div id="yandex_rtb_R-A-1648952-3" class="d-none d-lg-flex col-lg-4  col-xl-3"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                "blockId": "R-A-1648952-3",
                "renderTo": "yandex_rtb_R-A-1648952-3"
            })
        })
    </script>

    <!-- Yandex.RTB R-A-1648952-4 -->
    <div id="yandex_rtb_R-A-1648952-4" class="d-none d-xl-flex col-xl-3"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                "blockId": "R-A-1648952-4",
                "renderTo": "yandex_rtb_R-A-1648952-4"
            })
        })
    </script>

</div>

<hr class="liniya d-print-none" />