@{
}

<div class="row">

    <div class="col">

        <h1 class="text_shadow">БИОГРАФИЯ, ПРЕССА, РОЛИ&nbsp;В&nbsp;КИНО</h1>

        <hr class="liniya" />

        <vc:view-image image-id="B8FA1526-C414-43C1-C1D1-08DB0167B506" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>