<h1 class="text_shadow">«Крёстный отец»<br /><span class="h2">кадры фильма</span></h1>

<hr class="liniya" />

<vc:multiple-carousel search-filter="Крёстный отец - 1" />

<hr class="liniya" />

@* <div class="row justify-content-center">

    @foreach (var picture in Model ?? Enumerable.Empty<ImageFileModel>())
    {
        fullPicturePath = $"{@picture.ImagePath}/{@picture.WebImageHDFileName}";

        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 g-2">

            <div class="card shadw rounded-3 cardborder">

                <a class="rounded-3" href=@fullPicturePath onClick="this.target ='_blank'" title="" itemprop="url">

                    <vc:view-image image-id=@picture.ImageFileModelId css-class="d-block w-100" icon-type="webicon200" />

                </a>

            </div>

        </div>
    }

</div> *@
