@{
}

<partial name="_KinoRoliPartial" />

<div class="row">

    <div class="col">

        <vc:view-image image-id="0fbdb318-8556-45e2-44a0-08db01da2d6f" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>