@page

@model Priklucheniya_Buratino_2_seriyaModel

@{
    string[] links = new string[]{
        "/movies/russian/children/priklucheniya-buratino/priklucheniya-buratino-1-seriya",
        "/movies/russian/children/priklucheniya-buratino/priklucheniya-buratino-2-seriya"
    };

    string[] films = new string[]{
        "/programs/govorim-i-pokazyvaem-05-10-2011",
        "/movies/russian/children/priklucheniya-buratino/tainy-kino-priklucheniya-buratino"
    };

    string[] remake = new string[]{
        "/movies/russian/children/priklucheniya-buratino/zolotoy-kluchik",
        "/movies/russian/children/priklucheniya-buratino/priklucheniya-buratino-multfilm"
    };
}

<vc:movie-online />

<hr class="liniya" />

<vc:page-links links="@links" size="2" />

<hr class="liniya" />

<h3 class="text_shadow">О ФИЛЬМЕ</h3>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@films" size="3" />

<hr class="liniya" />

<h3 class="text_shadow">ДРУГИЕ ЭКРАНИЗАЦИИ</h3>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@remake" size="2" />

@await Html.PartialAsync("_ChildrenPartial", 1)