@page

@model IndexModel

@{
}

<h1 class="text_shadow">ФИЛЬМЫ НА ЯНДЕКС-ДИСКЕ</h1>

<hr class="liniya" />

<h2 class="text_shadow">СОВЕТСКИЕ ФИЛЬМЫ</h2>

<hr class="liniya maxwidth50percent mt-1" />

<a href="https://shevkunenko.ru/admin/yadisk/sfilm.htm" title="Советские фильмы" itemprop="url">

    <vc:image-view file-name="soviet-films.png" css-class="adp90_img ten borderforitem" is-icon=null />

</a>

<hr class="liniya" />

<h2 class="text_shadow">ЗАРУБЕЖНЫЕ ФИЛЬМЫ</h2>

<hr class="liniya maxwidth50percent mt-1" />

<a href="https://shevkunenko.ru/admin/yadisk/ifilm.htm" title="Зарубежные фильмы" itemprop="url">

    <vc:image-view file-name="foreign-film.png" css-class="adp90_img ten borderforitem" is-icon=null />

</a>
