@page

@model Eshe_ne_vecherModel

@{
    string[] links = new string[]{
        "/programs/eshe-ne-vecher-16-09-2011"
    };
}

<vc:movie-online />

<hr class="liniya" />

<h3 class="text_shadow">ПОЛНАЯ ВЕРСИЯ ПРОГРАММЫ</h3>

<vc:page-links links="@links" size="3" />

@await Html.PartialAsync("_ProgramsPartial", 1)