@model AddTextInfoViewModel

<h1 class="fs-3 text_shadow">Добавить текст</h1>

<hr class="liniya" />

@* Показ всех ошибок ввода данных *@
@if (Context.Request.Method == "POST")
{
    <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
}


<div class="row">

    <div class="col col-xl-9 col-xxl-8 d-block mx-auto">

        <div class="card p-2">

            <form method="post" enctype="multipart/form-data"
                  class="card-body mx-0 p-0"
                  asp-area="Admin"
                  asp-controller="TextInfo"
                  asp-action="AddText">

                @* скрытые поля формы *@
                <div>

                    <input asp-for="TextInfoModelId" type="hidden" value="@Guid.Empty" />
                    <input asp-for="TxtFileName" type="hidden" value=@string.Empty />
                    <input asp-for="HtmlFileName" type="hidden" value=@string.Empty />
                    <input asp-for="TxtFileSize" type="hidden" value=0 />
                    <input asp-for="HtmlFileSize" type="hidden" value=0 />

                </div>

                @* выбрать файл txt *@
                <div class="row g-2 justify-content-center">

                    <div class="col-auto">
                        <label asp-for="TxtFileFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                    </div>

                    <div class="col-auto text-start">
                        <input id="TxtFileFormFile" asp-for="TxtFileFormFile" class="form-control" aria-describedby="TxtFileFormFileInputHelpBlock" />
                    </div>

                    <div id="TxtFileFormFileInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">файл (txt) - </span>
                        <span class="fs-6 text-danger">обязательное поле</span>

                    </div>

                    @if (Context.Request.Method == "POST")
                    {
                        <span asp-validation-for="TxtFileFormFile" class="text-danger"></span>
                    }

                    <hr class="w-50 mx-auto" />

                </div>

                @* выбрать файл html *@
                <div class="row g-2 justify-content-center">

                    <div class="col-auto">
                        <label asp-for="HtmlFileFormFile" class="col-form-label text-primary fs-5 me-2"></label>
                    </div>

                    <div class="col-auto text-start">
                        <input id="HtmlFileFormFile" asp-for="HtmlFileFormFile" class="form-control" aria-describedby="HtmlFileFormFileInputHelpBlock" />
                    </div>

                    <div id="HtmlFileFormFileInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">файл (html) - </span>
                        <span class="fs-6 text-danger">обязательное поле</span>

                    </div>

                    @if (Context.Request.Method == "POST")
                    {
                        <span asp-validation-for="HtmlFileFormFile" class="text-danger"></span>
                    }

                    <hr class="liniya" />

                </div>

                @* Каталог текста *@
                <div class="mt-3">

                    <label class="form-label text-primary fs-5 fw-bold" asp-for="FolderForText"></label>

                    <br class="d-sm-none" />

                    <select class="w-75 maxwidth300px" asp-for="FolderForText"
                            asp-items="Model.TextDirectories"
                            aria-describedby="TextPathInputHelpBlock">

                        <option selected value="texts">Выберите каталог</option>

                    </select>

                    <div id="TextPathInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">выбрать каталог текста</span>
                        <br />
                        <span class="fs-6 text-success">(по умолчанию «texts»)</span>

                    </div>

                    <hr class="w-50 mx-auto" />

                </div>

                @* Новый каталог для текста *@
                <div class="row g-2 justify-content-center">

                    <div class="col-auto">
                        <label class="form-label text-primary fs-5 fw-bold" asp-for="NewTextFolder"></label>
                    </div>

                    <div class="col-auto">
                        <input id="NewTextFolderInput" class="form-control text-center" asp-for="NewTextFolder" aria-describedby="NewTextFolderInputHelpBlock" />
                    </div>

                    <div id="NewTextFolderInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">новый каталог для текста</span>

                    </div>

                    <span asp-validation-for="NewTextFolder" class="text-danger"></span>

                    <hr class="liniya" />

                </div>

                @* Тег «TextDescription» *@
                <div>

                    <label asp-for="TextDescription" class="col-form-label text-primary fs-5 me-2"></label>

                    <textarea id="TextDescriptionInput" class="form-control mx-auto fordetails maxwidth600px"
                              asp-for="TextDescription"
                              rows="2"
                              aria-describedby="TextDescriptionInputHelpBlock">
                    </textarea>

                    <div id="TextDescriptionInputHelpBlock" class="form-text">

                        <span class="d-none d-sm-inline-block fs-6 text-success">тег «TextDescription» - </span>
                        <span class="fs-6 text-danger">обязательное поле</span>

                    </div>

                    <span asp-validation-for="TextDescription" class="text-danger"></span>

                    <hr class="w-50 mx-auto" />

                </div>

                @* Связанная книга (статья) *@
                <div>

                    <label asp-for="RefForBookOrArticle" class="col-form-label text-primary fs-5 me-2"></label>

                    <input id="RefForBookOrArticleInput" class="form-control text-start mx-auto maxwidth600px" asp-for="RefForBookOrArticle" aria-describedby="RefForBookOrArticleInputHelpBlock" />

                    <div id="RefForBookOrArticleInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">связанная книга (статья)</span>

                    </div>

                    <span asp-validation-for="RefForBookOrArticle" class="text-danger"></span>

                    <hr class="w-50 mx-auto" />

                </div>

                @* Номер страницы книги (статьи) *@
                <div>

                    <label class="form-label d-inline-block text-primary fs-5" asp-for="SequenceNumber"></label>

                    <input id="SequenceNumberInput" class="form-control d-inline-block maxwidth100px" asp-for="SequenceNumber" aria-describedby="SequenceNumberInputHelpBlock" />

                    <div id="SequenceNumberInputHelpBlock" class="form-text">

                        <span class="fs-6 text-success">номер страницы книги (статьи)</span>

                    </div>

                    <span asp-validation-for="SequenceNumber" class="text-danger"></span>

                </div>
                @* Сохранить - Отменить *@
                <div class="card-footer p-0 pb-2 mt-4">

                    <button type="submit" class="btn btn-outline-success mt-2 me-2 text-center shadw"
                            title="Сохранить">
                        Сохранить
                    </button>

                    <a class="btn btn-outline-danger mt-2 shadw"
                       asp-area="Admin"
                       asp-controller="TextInfo"
                       asp-action="Index"
                       title="Отменить">
                        Отменить
                    </a>

                </div>

            </form>

        </div>

    </div>

</div>