@rendermode @(new InteractiveServerRenderMode(prerender: true))

@if (DictionaryOfRefPictures != null && DictionaryOfRefPictures.Count >0)
{
    @foreach (var (caption, listOfPictures) in DictionaryOfRefPictures)
    {
        if (listOfPictures.Count > 0)
        {
            <h2 class="text_shadow mt-4">@caption (фото)</h2>

            <hr class="liniya w-75" />

            @foreach (var item in listOfPictures)
            {
                <Picture ImageObject=@item />
            }
        }
    }
}


<script src="_framework/blazor.web.js"></script>

@code {
    [Parameter]
    public Dictionary<string, List<ImageFileModel>>? DictionaryOfRefPictures { get; set; }
}