@page

@model ShevkunenkoSite.Areas.Movies.Pages.Bolshoe_kinoModel

@{
}

<h1 class="text_shadow">Программа «Большое кино»</h1>

<hr class="w-50 liniya" />

<vc:pages-by-model pages=Model.PageLinks />