@page

@model IndexModel

@{
    string[] links = new string[]{
        "/movies/russian/index",
        "/movies/foreign/index"
    };
}

<div class="row">

    <div class="col">

        <h1 class="text_shadow">ФИЛЬМЫ НА САЙТЕ</h1>

    </div>

</div>

<hr class="liniya" />

<vc:page-links links="@links" size="3" />
