@page

@model ShevkunenkoSite.Areas.Movies.Pages.Kak_uhodili_kumiryModel

@{
}

<h1 class="text_shadow">Программа «Как уходили кумиры»</h1>

<hr class="w-50 liniya" />

<vc:pages-by-model pages=Model.PageLinks />