@page

@model ShevkunenkoSite.Areas.Movies.Pages.Pestraya_lentaModel

@{
}

<h1 class="text_shadow">Программа «Пёстрая лента»</h1>

<hr class="w-50 liniya" />

<vc:pages-by-model pages=Model.PageLinks />