@page

@model ShevkunenkoSite.Areas.Movies.Pages.Sozvezdie_TovstonogovaModel

@{
}

<h1 class="text_shadow">Созвездие Товстоногова</h1>

<hr class="liniya" />

<div class="row">

    <div class="col">

        <vc:view-image image-id="39857fdb-8e51-458e-84bf-08dc4bee11ac" css-class="adp90_img maxwidth700px ten" icon-type="" />

    </div>

</div>
