@page

@model Chast_1Model

@{
    string[] parts = new string[]{
        "/movies/russian/smert-tarelkina-bdt-1983/chast-1",
        "/movies/russian/smert-tarelkina-bdt-1983/chast-2"
    };

    string[] another = new string[]{
        "/movies/russian/delo-suhovo-kobylina/veselye-raspluevskie-dni",
        "/movies/russian/smert-tarelkina-et-cetera-2005/index"
    };

    string[] suhovo = new string[]{
        "/movies/russian/delo-suhovo-kobylina/index"
    };
}

<vc:movie-online />

<hr class="liniya" />

<vc:page-links links="@parts" size="2" />

<hr class="liniya" />

<h3 class="text_shadow">ДРУГИЕ ПОСТАНОВКИ</h3>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@another" size="1" />

<hr class="liniya" />

<h3 class="text_shadow">СУХОВО-КОБЫЛИН</h3>

<hr class="liniya maxwidth50percent mt-1" />

<vc:page-links links="@suhovo" size="3" />