@model EditImageViewModel

<h1 class="fs-3 text_shadow">Добавить картинку</h1>

<hr class="liniya" />

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <div class="card p-2 mt-4">

            <div class="card-body mx-0 p-0">

                <form method="post" enctype="multipart/form-data"
                      asp-area="Admin"
                      asp-controller="ImageInfo"
                      asp-action="AddImage">

                    <input asp-for="EditImage.ImageFileModelId" type="hidden" />

                    @* все ошибки ввода данных *@
                    @if (Context.Request.Method == "POST")
                    {
                        <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
                    }

                    @* Заголовок картинки *@
                    <div>

                        <label asp-for="EditImage.ImageCaption" class="form-label text-primary fs-5 fw-bold"></label>

                        <input id="ImageCaptionInput" class="form-control text-center" asp-for="EditImage.ImageCaption" aria-describedby="ImageCaptionInputHelpBlock" />

                        <div id="ImageCaptionInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">«caption» и «name» для Microdata - </span>
                            <br class="d-md-none" />
                            <span class="fs-6 text-danger">обязательное поле</span>

                        </div>

                        <span asp-validation-for="EditImage.ImageCaption" class="text-danger"></span>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Описание картинки *@
                    <div>

                        <label class="form-label text-primary fs-5 fw-bold" asp-for="EditImage.ImageDescription"></label>

                        <textarea id="ImageDescriptionInput" class="form-control text-center"
                                  asp-for="EditImage.ImageDescription"
                                  rows="3"
                                  aria-describedby="ImageDescriptionInputHelpBlock">
                        </textarea>

                        <div id="ImageDescriptionInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">«description» для Microdata  - </span>
                            <br class="d-md-none" />
                            <span class="fs-6 text-danger">обязательное поле</span>
                            <br />
                            <span class="fs-6 text-success">(по умолчанию равно «caption»)</span>

                        </div>

                        <span asp-validation-for="EditImage.ImageDescription" class="text-danger"></span>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* «alt» и «title» для картинки *@
                    <div>

                        <label class="form-label text-primary fs-5 fw-bold" asp-for="EditImage.ImageAltTitle"></label>

                        <input id="ImageAltTitleInput" class="form-control text-center" asp-for="EditImage.ImageAltTitle" aria-describedby="ImageAltTitleInputHelpBlock" />

                        <div id="ImageAltTitleInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">«alt» и «title» для тэга «img»</span>
                            <br />
                            <span class="fs-6 text-success">(по умолчанию равно «caption»)</span>

                        </div>

                        <span asp-validation-for="EditImage.ImageAltTitle" class="text-danger"></span>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Фильтр поиска картинки в базе данных *@
                    <div>

                        <label class="form-label text-primary fs-5 fw-bold" asp-for="EditImage.SearchFilter"></label>

                        <textarea id="SearchFilterInput" class="form-control text-center"
                                  asp-for="EditImage.SearchFilter"
                                  rows="1"
                                  aria-describedby="SearchFilterInputHelpBlock">
                        </textarea>

                        <div id="SearchFilterInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">фильтры поиска картинки</span>

                        </div>

                        <span asp-validation-for="EditImage.SearchFilter" class="text-danger"></span>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Порядок сортировки картинки *@
                    <div class="row g-2 justify-content-center mb-2">

                        <div class="col-auto">
                            <label class="form-label text-primary fs-5 fw-bold"
                                   asp-for="EditImage.SortOfPicture">
                            </label>
                        </div>

                        <div class="col-auto">
                            <input id="SortOfPictureInput"
                                   class="form-control text-center"
                                   asp-for="EditImage.SortOfPicture"
                                   value="0"
                                   aria-describedby="SortOfPictureInputHelpBlock" />
                        </div>

                        <div id="SortOfPictureInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">индекс сортировки</span>

                        </div>

                        @if (Context.Request.Method == "POST")
                        {
                            <span asp-validation-for="EditImage.SortOfPicture" class="text-danger"></span>
                        }

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Каталог картинки *@
                    <div>

                        <label class="form-label text-primary fs-5 fw-bold" asp-for="EditImage.ImagePath"></label>

                        <select class="w-75" asp-for="EditImage.ImagePath"
                                asp-items="Model.ImageDirectories"
                                aria-describedby="ImagePathInputHelpBlock">

                            <option selected value="/images">Выберите каталог</option>

                        </select>

                        <div id="ImagePathInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">выбрать каталог картинки</span>
                            <br />
                            <span class="fs-6 text-success">(по умолчанию «images»)</span>

                        </div>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Новый каталог для картинки *@
                    <div class="row g-2 justify-content-center">

                        <div class="col-auto">
                            <label class="form-label text-primary fs-5 fw-bold" asp-for="NewImagePath"></label>
                        </div>

                        <div class="col-auto">
                            <input id="NewImagePathInput" class="form-control text-center" asp-for="NewImagePath" aria-describedby="NewImagePathInputHelpBlock" />
                        </div>

                        <div id="NewImagePathInputHelpBlock" class="form-text">

                            <span class="fs-6 text-success">новый каталог для картинки</span>

                        </div>

                        <span asp-validation-for="NewImagePath" class="text-danger"></span>

                        <hr class="w-50 mx-auto" />

                    </div>

                    @* Выбор картинок *@
                    <div class="accordion" id="accordionAddImage">

                        @* Выбор картинок WEBP*@
                        <div class="accordion-item mb-3 shadw">

                            <h2 class="accordion-header" id="headingDescription">
                                <button class="accordion-button collapsed py-0 stranicy" type="button" data-bs-toggle="collapse" data-bs-target="#WebpImage" aria-expanded="true" aria-controls="WebpImage">
                                    <span class="form-label fs-5">Формат WEBP :</span>
                                </button>
                            </h2>

                            <div id="WebpImage" class="accordion-collapse collapse" aria-labelledby="headingDescription" data-bs-parent="#accordionAddImage">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    @* Выбор картинки HD WEBP *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="WebImageHDFormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="WebImageHDFormFileInput" class="form-control" asp-for="WebImageHDFormFile" aria-describedby="WebImageHDFormFileInputHelpBlock" />
                                        </div>

                                        <div id="WebImageHDFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="WebImageHDFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки WEBP 720 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="WebImageFormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="WebImageFormFileInput" class="form-control" asp-for="WebImageFormFile" aria-describedby="WebImageFormFileInputHelpBlock" />
                                        </div>

                                        <div id="WebImageFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="WebImageFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки WEBP 300 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label asp-for="WebIconFormFile" class="form-label text-primary fs-5"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="WebIconFormFileInput" asp-for="WebIconFormFile" class="form-control" aria-describedby="WebIconFormFileInputHelpBlock" />
                                        </div>

                                        <div id="WebIconFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="WebIconFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки WEBP 200 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label asp-for="WebIcon200FormFile" class="form-label text-primary fs-5"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="WebIcon200FormFileInput" asp-for="WebIcon200FormFile" class="form-control" aria-describedby="WebIcon200FormFileInputHelpBlock" />
                                        </div>

                                        <div id="WebIcon200FormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="WebIcon200FormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки WEBP 100 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="WebIcon100FormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="WebIcon100FormFileInput" asp-for="WebIcon100FormFile" class="form-control" aria-describedby="WebIcon100FormFileInputHelpBlock" />
                                        </div>

                                        <div id="WebIcon100FormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="WebIcon100FormFile" class="text-danger"></span>

                                    </div>

                                </div>

                            </div>

                        </div>

                        @* Выбор картинок PNG*@
                        <div class="accordion-item shadw">

                            <h2 class="accordion-header" id="headingDescription">
                                <button class="accordion-button collapsed py-0 stranicy" type="button" data-bs-toggle="collapse" data-bs-target="#PngImage" aria-expanded="true" aria-controls="PngImage">
                                    <span class="form-label fs-5">Формат PNG :</span>
                                </button>
                            </h2>

                            <div id="PngImage" class="accordion-collapse collapse" aria-labelledby="headingDescription" data-bs-parent="#accordionAddImage">

                                <div class="accordion-body accordion-body-nointend text-center">

                                    @* Выбор картинки HD PNG *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="ImageHDFormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="ImageHDFormFileInput" class="form-control" asp-for="ImageHDFormFile" aria-describedby="ImageHDFormFileInputHelpBlock" />
                                        </div>

                                        <div id="ImageHDFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="ImageHDFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки PNG 720 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="ImageFormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="ImageFormFileInput" class="form-control" asp-for="ImageFormFile" aria-describedby="ImageFormFileInputHelpBlock" />
                                        </div>

                                        <div id="ImageFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="ImageFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки PNG 300 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="IconFormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="IconFormFileInput" class="form-control" asp-for="IconFormFile" aria-describedby="IconFormFileInputHelpBlock" />
                                        </div>

                                        <div id="IconFormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="IconFormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки PNG 200 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="Icon200FormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="Icon200FormFileInput" class="form-control" asp-for="Icon200FormFile" aria-describedby="Icon200FormFileInputHelpBlock" />
                                        </div>

                                        <div id="Icon200FormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="Icon200FormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                    @* Выбор картинки PNG 100 px *@
                                    <div class="row g-2 justify-content-center">

                                        <div class="col-auto">
                                            <label class="form-label text-primary fs-5" asp-for="Icon100FormFile"></label>
                                        </div>

                                        <div class="col-auto">
                                            <input id="Icon100FormFileInput" class="form-control" asp-for="Icon100FormFile" aria-describedby="Icon100FormFileInputHelpBlock" />
                                        </div>

                                        <div id="Icon100FormFileInputHelpBlock" class="form-text">

                                            <span class="fs-6 text-success">выбрать файл</span>

                                        </div>

                                        <span asp-validation-for="Icon100FormFile" class="text-danger"></span>

                                        <hr class="w-50 mx-auto" />

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    @* Сохранить картинку *@
                    <div class="card-footer p-0 mt-4">

                        <button type="submit" class="btn btn-outline-success m-2 text-center shadw" title="добавить картинку">Добавить</button>

                        <a class="btn btn-outline-danger m-2 shadw"
                           asp-area="Admin"
                           asp-controller="ImageInfo"
                           asp-action="Index"
                           asp-route-iconlist="false"
                           title="не сохранять">
                            Отмена
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>