@page

@model Voina_i_MirModel

@{
}

<h1 class="text_shadow">ВОЙНА И МИР (1965)</h1>

<hr class="liniya">

<vc:movie-disk movie-caption="Война и мир - Андрей Болконский (1)" />

<vc:movie-disk movie-caption="Война и мир - Андрей Болконский (2)" />

<vc:movie-disk movie-caption="Война и мир - Наташа Ростова" />

<vc:movie-disk movie-caption="Война и мир - 1812 год" />

<vc:movie-disk movie-caption="Война и мир - Пьер Безухов" />

<a href="/movies/yandexdisk/foreign/war-and-peace-1956" title="Война и Мир (1956 год)" itemprop="url">

    <vc:image-view file-name="war-and-peace-1956.png" css-class="col-12 shadw imageref" is-icon=null />

</a>

<hr class="liniya">

<a href="/movies/yandexdisk/foreign/war-and-peace-2007" title="Война и Мир (2007 год)" itemprop="url">

    <vc:image-view file-name="war-and-peace.png" css-class="col-12 shadw imageref" is-icon=null />

</a>
