@model EditIconViewModel

<hr class="liniya" />

<h1 class="text_shadow">Изменить иконку</h1>

<img class="maxwidth300px mt-2 mx-auto"
     src="@DataConfig.IconsFolder@Model.EditIcon.IconPath@Model.EditIcon.IconFileName"
     title="@DataConfig.IconsFolder@Model.EditIcon.IconPath@Model.EditIcon.IconFileName"
     alt="@DataConfig.IconsFolder@Model.EditIcon.IconPath@Model.EditIcon.IconFileName" />

<p class="fs-4 text_shadow">@Model.EditIcon.IconFileName</p>

<hr class="liniya" />

<div class="card p-2 mx-auto maxwidth700px">

    @if (Context.Request.Method == "POST")
    {
        <div asp-validation-summary="All" class="text-danger border border-top-0 border-danger mb-3"></div>
    }

    <div class="card-body mx-0 p-0">

        <form method="post"
              enctype="multipart/form-data"
              asp-area="Admin"
              asp-controller="IconInfo"
              asp-action="EditIcon">

            <input asp-for="EditIcon.IconFileModelId" type="hidden" />
            <input asp-for="EditIcon.IconPath" type="hidden" />
            <input asp-for="EditIcon.IconFileName" type="hidden" />
            <input asp-for="EditIcon.IconRel" type="hidden" />
            <input asp-for="EditIcon.IconPath" type="hidden" />
            <input asp-for="EditIcon.IconType" type="hidden" />

            <div class="row g-2 justify-content-center mt-3">

                <div class="col-auto">
                    <label asp-for="IconFormFile" class="form-label text-primary fs-5"></label>
                </div>
                <div class="col-auto">
                    <input asp-for="IconFormFile" class="form-control" />
                </div>

            </div>
            <span asp-validation-for="IconFormFile" class="text-danger"></span>

            <div class="card-footer p-0 mt-5">

                <button 
                        type="submit"
                        class="btn btn-outline-success m-2 text-center shadw"
                        title="сохранить изменения">
                    Сохранить
                </button>

                <a class="btn btn-outline-danger m-2 shadw"
                   asp-area="Admin"
                   asp-controller="IconInfo"
                   asp-action="Index"
                   asp-route-iconId="null"
                   title="отменить изменения">Отмена</a>

            </div>

        </form>

    </div>

</div>