@model MoviesListViewModel

<div class="col12 my-3">

    <hr class="liniya" />

    <h1 class="text_shadow">@Html.Raw(Model.PageHeadTitle)</h1>

    <div class="row row-cols-3 row-cols-lg-4 row-cols-xxl-5 g-2 justify-content-center">

        @foreach (var movieFile in Model?.Movies ?? Enumerable.Empty<MovieFileModel>())
        {
            <vc:video-card movie-file-model="@movieFile"
                           is-parts-more-one="@Model!.IsPartsMoreOne"
                           is-image="@Model.IsImage"
                           icon-type="@Model.IconType"
                           link-to-info-about-movie=@Model.LinkToInfoAboutMovie />
        }

    </div>

</div>